<footer class="bg-black ph3 pv4 white">

	<div class="mw7 center pt3">

		<div class="measure-narrow center mb4">

			<img src="/img/logo-cl.svg" alt="clbaterias logo" class="db w4 center mb4 br0">
			<p class="f3 lh-title light-gray b tc mb2">{{ .Site.Data.footer.title }}</p>
			<p>{{ .Site.Data.footer.blurb }}</p>

			{{ partial "newsletter-form" . }}

		</div>

		<div class="flex-ns justify-between">

			<div>
				<h3 class="f4 b lh-title mb1 primary">CL Baterias</h3>
				<ul class="mb3">
					<li><a href="/" class="link">Home</a></li>
					<li><a href="/baterias" class="link">Marcas</a></li>
					<li><a href="/marcas" class="link">Sobre</a></li>
					<li><a href="/post" class="link">Blog</a></li>
					<li><a href="/contato" class="link">Contato</a></li>
				</ul>
			</div>

			<div>
				<h3 class="f4 b lh-title mb1 primary">Descubra mais</h3>
				<ul class="mb3">
					<li><a href="/post/jamaica-blue/" class="link">Promoções e novidades</a></li>
					<li><a href="https://api.whatsapp.com/send?phone=5511934986472" class="link">Solicitar orçamento</a></li>
				</ul>
			</div>

			<div>
				<h3 class="f4 b lh-title mb2 primary">Rede sociais</h3>
				<ul class="mhn2">
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-facebook" "alt" "cl baterias no Facebook") }}
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-twitter" "alt" "cl baterias no Twitter") }}
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-instagram" "alt" "cl baterias no Instagram") }}
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-vimeo" "alt" "cl baterias no Vimeo") }}
				</ul>
			</div>

		</div>
	</div>

</footer>

